header,
footer {
    display: flex;
    align-items: center;
    background-color: var(--color-quintenary);
    padding: 0.938rem;
    color: var(--color-primary);
}

header {
    position: sticky;
    z-index: 1000;
    width: 100%;
    top: 0;
    justify-content: space-between;
    box-shadow: 0px 5px 5px var(--color-quintenary);
    box-sizing: border-box;
    padding: 7px 10px 0px 10px;
}

main#container {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente el formulario */
    align-items: center;
    /* Centra verticalmente el formulario */
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
}

/* Estilos para el formulario */
form {
    display: flex;
    position: flex-start;
    flex-direction: column;
    /* Asegura que los hijos se apilen verticalmente */
    align-items: flex-start;
    /* Alinea el contenido del formulario a la izquierda */
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

#loginButton {
    margin-top: 30px;
    background-color: #235C9F;
    border-radius: 38px;
    padding: 10px;
    border: none;
    color: var(--color-primary);
    font-weight: 600;
}

#loginButton:hover {
    background-color: #F6BF0F;
    color: #1e4a84;
}

a.button {
    color: #F6BF0F;
    text-decoration: none;
}

a.button:visited {
    color: white;
}

a.button:hover {
    color: white;
}

a.button:active {
    color: white;
}

button[type="submit"] {
    margin-top: 30px;
    background-color: #235C9F;
    border-radius: 38px;
    padding: 10px;
    border: none;
    color: var(--color-primary);
    font-weight: 600;
}

button[type="submit"]:hover {
    background-color: #F6BF0F;
    color: #1e4a84;
}

@media (max-width: 800px) {

    header,
    footer {
        flex-direction: column;
        text-align: center;
    }

    main#container {
        justify-content: center;
        /* Centra el contenedor en pantallas pequeñas */
        align-items: center;
        /* Centra el contenedor verticalmente */
        margin-bottom: 40%;
        margin-right: 50%;
        margin-left: -27%;
        margin-top: -10%;
    }



}